@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');

@font-face {
  font-family: "Arno Pro";
  src: url('../fonts/arno-pro/arnopro-regular.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/arno-pro/arnopro-regular.otf')  format('opentype'),
	  url('../fonts/arno-pro/arnopro-regular.woff') format('woff'), 
	  url('../fonts/arno-pro/arnopro-regular.ttf')  format('truetype'), 
	  url('../fonts/arno-pro/arnopro-regular.svg#ArnoPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arno Pro';
  src: url('../fonts/arno-pro/arnopro-italic.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/arno-pro/arnopro-italic.otf')  format('opentype'),
	     url('../fonts/arno-pro/arnopro-italic.woff') format('woff'), 
	  url('../fonts/arno-pro/arnopro-italic.ttf')  format('truetype'), 
	  url('../fonts/arno-pro/arnopro-italic.svg#ArnoPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arno Pro';
  src: url('../fonts/arno-pro/arnopro-bold.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/arno-pro/arnopro-bold.otf')  format('opentype'),
	     url('../fonts/arno-pro/arnopro-bold.woff') format('woff'), 
	  url('../fonts/arno-pro/arnopro-bold.ttf')  format('truetype'), 
	  url('../fonts/arno-pro/arnopro-bold.svg#ArnoPro-Italic') format('svg');
  font-weight: bold;
  font-style: normal;
}

/*
@font-face {
  font-family: 'ArnoPro';
  src: url('../fonts/arno-pro/ArnoPro-Smbd.eot?#iefix') format('embedded-opentype'),  url('../fonts/arno-pro/ArnoPro-Smbd.otf')  format('opentype'),
	     url('../fonts/arno-pro/ArnoPro-Smbd.woff') format('woff'), url('../fonts/arno-pro/ArnoPro-Smbd.ttf')  format('truetype'), url('../fonts/arno-pro/ArnoPro-Smbd.svg#ArnoPro-Smbd') format('svg');
  font-weight: 600;
  font-style: normal;
}
*/
