/* Scss Document */

@import 'reset';
@import 'fonts';

* {box-sizing: border-box;
	transition: all 0.1s ease-in;
}

html{font-size: 18px;}

body {
	background-color: #303030;
	background: url(../img/bg-pattern.png) ;
	width: 100%;
	}
.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	}

header, main, footer {
//	display: flex;
//	flex-direction: column;
//	justify-content: center;
//	align-items: center;
//	flex-wrap: nowrap;
	width: 100%;
	max-width: 1000px;
//	padding: 30px;
}

h1,h2,h3,h4,h5{
	font-family: 'Open Sans', 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
//	text-transform: uppercase;
	color: #4b4b4b;
	}

span, a {
font-family: inherit; font-size: inherit; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: inherit;
}

a:hover{text-decoration: underline;}

.page-title{
	padding: 2em 0;
	background-image: url('../img/top-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 2rem; font-weight: 400; letter-spacing: .1em;	
	
}

.salute{font-size: 1.2rem; font-weight: 400; text-align: left;	padding: 2em 0 .5em;}

.text-header{font-size: .95rem; font-weight: 600; letter-spacing: .05rem; text-align: left; text-transform: uppercase; padding: 2em 0 .5em}

p, .plain-text, .terms{
	font-family: 'Arno Pro', 'Georgia', 'Times New Roman', serif;
	color: #808080;
	padding: .44rem 0;
	line-height: 150%;
}

header {
	background-color: #fff;
	text-align: center;
}

.logo{
	padding: 40px 0;
	width: 200px;
	max-width: 400px;
}


main{
	background-color: #fff;
	padding: 20px 80px 55px;
}

.info-table{
	width: auto;
	text-align: left;
	margin-bottom: 1em;
}

.td-left{
	font-family: 'Arno Pro', 'Georgia', 'Times New Roman', serif;
	font-weight: normal;
//	background-color: #bea78b;
	color: #808080;
	padding: 15px 15px 10px 0;
	line-height: 150%;
	text-align: left;
	border-bottom: #e5e5e5 solid 1px;
	width: 232px;
}

.td-right {
	font-family: 'Arno Pro', 'Georgia', 'Times New Roman', serif;
	color: #808080;
	padding: 15px 50px 10px 0px;
	line-height: 150%;
	text-align: left;
	border-bottom: #e5e5e5 solid 1px;
}

.small{font-size: .9rem;padding: 0;}
.italic{font-style: italic;}
.bold{font-weight: bold;}
.terms{list-style-type: disc; padding-left: 1rem; padding-top: 0; color: #AFB0B0;}
.terms li{ padding-bottom: .5rem;}

.hotel-info-block{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.hotel-photo{padding-right: 2rem;}

.hotel-photo img{width: 200px; }

.spoiler{
	cursor: pointer; 
//	background-color:#F2F2F2;
//	padding-left: 16px; 
//	padding-right: 1rem; 
}

.arrow-dn{display: inline-block; transform: rotate(90deg) scale(.75, 1.75) translate(-.2rem, 0); font-size: .8em;}

.bottom-form{padding: 1rem 0;}

.accept-box{display: block; padding-left: 30px; text-indent: -12px; color: #BAA387;}

.accept-box input{
	position: relative;
	left: -17px;
}

.btn-w-logo{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.btn{
//	display: inline-block;
	background: #b59d82;
	padding: .7rem 1.5rem;
	border: 0;
	width: auto;
	margin: 1rem 2rem 1rem 0;
}
.btn span{
	font-family: 'Georgia', 'Times New Roman', serif;
	font-size: 1rem;
	font-weight: normal;
	font-style: italic;
	text-transform: capitalize;
	color: #fff;
	vertical-align: -1px;
	letter-spacing: .05rem;
}

.btn:hover{transform: scale(1.05)}
.btn:active{transform: scale(0.95)}

.cards img{width: 100px; max-width: 304px;}

.bye{font-size: 1.5rem;}

footer{
	background-color: #F3F3F3;
	padding: 20px 80px 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.footer-txt{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.footer-txt p{ padding-right: 80px;}

//footer img{padding-top: 15px;}

.deol-logo{
	width: 200px; 
	max-width: 400px;
	padding-top: 17px; 
//	margin-right: 80px
}

.awards-pic{width: 100%; max-width: 360px;padding-top: 10px; margin-left: -5px;}

/* Media Queries */
@media screen and (max-width: 600px) {
	
	html{font-size: 16px;}

	header, main, footer {width: 100%;}
	
	.logo{width:40vw;max-width: 400px;}

	.page-title{padding: 1em 10%; font-size: 1.5rem;}
	
	.salute{font-size: 1.25rem;}
	
//	.text-header{font-size: .9rem; font-weight: normal; padding: .8rem 0;	}

	.td-left{padding:10px 10px 9px 0;font-weight: normal; width: auto;}
	.td-right{padding:10px 0 9px;font-weight: normal; width: auto;}
	
	.plain-text{padding-top: .25rem; padding-bottom: .25rem;}
	
	.hotel-photo {padding: 0;}
	
	.hotel-photo img{width: 100%; max-width: 100%;}
	
	.btn{padding: 1rem 2.5rem;}
	
	.bottom-form img{width: 17vw; max-width: 100px;}
	
	.awards-pic{width: 100%; max-width: 480px; }
	
	.deol-logo{width: 40vw;}

}

@media screen and (max-width: 480px) {
	main{padding: 0 10vw 20px;}
	footer{padding: 0 10vw 20px;}
	.footer-txt p{padding-right: 10vw;}
	.logo{padding: 10vw 0;}
	.bottom-form img{width: 15vw; max-width: 100px;}
	.bye{font-size: 1.25rem;}

	
}

@media print{
	
//	* { -webkit-print-color-adjust: exact; }
	
	html{font-size: 14px;}
	
	*{background-color: #fff !important; background-image: none !important; color:#000 !important;}
	
	.page-title{padding: 1em 0; background-image: none; text-align: center; background-color: #F3F3F3;}
	
	.logo{padding: 30px 0 0; width: 150px;}
	
	footer{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}
	
	main, footer{padding: 0 30px;}
	footer {margin-top: 10px;}
//	footer div, footer div img{padding: 0;}
//	.footer-txt p{padding: 0 20px 0 0;}

	
	.salute{font-size: 1.25rem; font-weight: normal; text-align: left;	padding: 0;	}
	
	.text-header{padding: 1.5em 0 .5em;	}
//	footer .text-header{padding: 1.5em 0;}


	.td-left, .td-right{padding:5px 10px 4px 0;}
	
	
	.bottom-form, .spoiler {display: none;}
	
	.awards-pic{width: 360px; }
	
	.deol-logo{width: 170px; padding-top: 0; margin-top: 0;}

}